kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: football-app-cluster
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30080
    hostPort: 8080
    protocol: TCP
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
- role: worker
- role: worker
networking:
  disableDefaultCNI: true
  kubeProxyMode: "none"